<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  
  <h1>Accounts</h1>
  <a href="/new-account">Add New Account</a>
  <table>
    <thead>
      <tr>
        <th>Website</th>
        <th>Username</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% accounts.forEach(function(account) { %>
        <tr>
          <td><%= account.website %></td>
          <td><%= account.username %></td>
          <td><%= account.password %></td>
          <td>
            <a href="/update-account/<%= account.id %>">Edit</a>
            <!-- <form action="/delete-account/<%= account.id %>" method="POST">  // this is the form that could be used to delete the account
              <button type="submit">Delete</button>
            </form> -->
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>

</html>